body {
  background-color: #2f3136;
  background-image: url(genislet.png);
//  background-position: center;
//  background-repeat: no-repeat;
//  background-size: 160px 50px;
//  margin-top: 50%;
}

div.genislet {
  display: flex;
  justify-content: center;
}
